<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

	<head th:replace="layout/header::html-head"></head>

<body>
<div th:replace="layout/header::header-nav-user"></div>


	<div	class="container" style="height: 100px;border:1px solid black; width: 60%">
			<h4 style="margin:20;">제품 코드 검색</h4>
			<hr style="height:3px;background-color: #333;"/>
			<Input type="text" id="productNo" name="productNo" placeholder="검색 코드 입력">
			<Input type="button" id="productSearhBtn" name="productSearhBtn" onclick="productSearh()" value="검색하기">
	</div>
	
	
	<div class="container" style="padding-top:30px; width:60%;border: 1px solid black; " >
			<h2 style="margin:20;">제품 게시물 등록 페이지</h2>
			<hr style="height:3px;background-color: #333;"/>
			
			<form action="/ShoeKream/admin/pBoardRegistRequest" method="post" enctype="multipart/form-data">
				<table style="border-collapse: separate;border-spacing: 0 15px;">
				<thead>
				</thead>
				<tbody>
							  <tr>
								    <td>카테고리 선택 : </td>
								    <td>
									    <select id="luxbCategory" name="luxbCategory">
										    <option>상의</option>
										    <option>하의</option>
										    <option>가방</option>
										    <option>신발</option>
									    </select>
								    </td>
							  </tr>
							  <tr>
								    <td>분류코드 선택 : </td>
								    <td>
									    <select name="luxbClassCode" id="luxbClassCode" >
										    <option>[001]lux</option>
										    <option>[002]shoes</option>
									    </select>
								    </td>
							  </tr>
							  <tr>
									<td>제품 브랜드: </td>
									<td> <input type="text" style="width: 525px;" placeholder="제품 브랜드를 입력하세요." required="required" autocomplete="off" id="luxbBrand" name="luxbBrand"></td>
							  </tr>			
							   <tr>
									<td>제품 명: </td>
									<td> <input type="text" style="width: 350px;" placeholder="제품 명을 입력하세요." required="required" autocomplete="off" id="luxbProduct" name="luxbProduct"></td>
							  </tr>		
						   	   <tr>	
									<td> 제품 설명: </td>					
									<td> <textarea rows="5" cols="60" placeholder="제품 설명을 입력하세요" style="overflow:visible;" required="required" autocomplete="off" id="luxbIntro" name="luxbIntro"></textarea></td>
						       </tr>
						        <tr>
									<td>판매 가액: </td>
									<td> <input type="text" style="width: 200px;" placeholder="               000.000.000 원" required="required" autocomplete="off" id="luxbPrice" name="luxbPrice" ></td>
							  </tr>	
						       <tr>
							    	<td>썸네일 이미지 :</td>
							    	<td><input type="file" style="width: 350px;" name="files" multiple="multiple"></td>
						       </tr>
						       <tr>
							    	<td>상품 이미지1 :</td>
							    	<td><input type="file" style="width: 350px;" name="files" multiple="multiple"></td>
						  	  </tr>
						  	    <tr>
							    	<td>상품 이미지2 :</td>
							    	<td><input type="file" style="width: 350px;" name="files" multiple="multiple"></td>
						  	  </tr>
					</tbody>
					<tfoot>
							<tr>
								<td>
								</td>
								<td>
								<input type="hidden" id="onSale" name="onSale">
								<input type="hidden" id="pNo" name="pNo">
								<input type="submit" value="작성 완료" style="width:200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="button" value="미리 보기" style="width:200px" onclick="preview()">
								</td>
							</tr>
					</tfoot>
				</table>
			</form>
			
	</div>
	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script>
	
	function preview(){
		alert("서비스 준비중 입니다.");
	}
	
	// 상품 코드 검색으로 상품 정보 가져오기
	function  productSearh(){
		var pno = document.getElementById('productNo').value;
		
		if(isNaN(pno)){
			alert("숫자만 입력가능합니다.");
			return;
		}

		$.ajax({
		url:'/ShoeKream/admin/SearchProduct',
		datatype:'json',
		type:'get',
		data:{
			pno:pno
		},
		success : function(data){
			
		console.log(data)	
		
		if(data==''){
			alert("해당 코드의 제품이 존재하지 않습니다.");
			location.reload();
		}
		document.getElementById('luxbBrand').setAttribute('value',data.pbrand);
		document.getElementById('luxbProduct').setAttribute('value',data.pproduct);
		document.getElementById('luxbIntro').setAttribute('value',data.pintro);
		$("#luxbIntro").val(data.pintro);
		$("#luxbCategory").val(data.pcategory).prop("selected", true);	
		$("#luxbClassCode").val(data.pclassCode).prop("selected", true);	
		document.getElementById('luxbPrice').setAttribute('value',data.pprice);
		document.getElementById('pNo').setAttribute('value',data.pno);
		document.getElementById('onSale').setAttribute('value',data.onSale);
		
		}
		});
		
		
		
	}	
	</script>
	
	
   <!-- footer 삽입 -->
     <!-- <footer th:replace="layout/footer::footer"> </footer>   -->
</body>
</html>