<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

	<head th:replace="layout/header::html-head"></head>

<body>
<div th:replace="layout/header::header-nav-user"></div>
<div th:replace="layout/header::header-nav-common"></div>


	<!-- 고객센터 nav -->
	<div th:replace="layout/boardnav::board-nav"></div>
	
	<div class="container" style="float:left; padding:30px; width:85%;border: 1px solid black; " >
			<h2 style="margin:20;">자유게시판 상세페이지</h2>
			<hr style="height:3px;background-color: #333;"/>
			

				<table style="border-collapse: separate;border-spacing: 0 15px;">
					<tr>
						<td style="width:100px"> 카테고리 </td>
						<td>
							<select>
								<option selected="selected" th:text="${bbvo.bbCategory}"></option>
							</select>	
						</td>
					</tr>
					<tr>
						<td>제목 : </td>
						<td> <input type="text" style="width: 871px;" readonly="readonly" th:placeholder="${bbvo.bbTitle}"></td>
					</tr>				
					<tr>	
						<td>내용 : </td>					
						<td> <textarea rows="14" cols="100" readonly="readonly" th:placeholder="${bbvo.bbContents}"></textarea></td>
					</tr>
					<tr>
						<td></td>
							<td>
							<!-- 관리자에게만 노출 되는 수정하기와 삭제하기 -->
							<div th:if="${session.member == null }">
												<input type="button" value="목록으로" style="width:100px;background-color:#0439CA;color:white" onclick="detail_click('main')">
												    게시물 최종 수정일 <h7 th:text="${bbvo.updatedDatetime}"></h7>
										</div>
							<div th:if="${session.member != null}">
								<div th:if="${session.member.userid == bbvo.creatorId or session.member.username =='admin'}">
									<input type="button" value="목록으로" style="width:100px;background-color:#0439CA;color:white" onclick="detail_click('main')">
										<input type="button" value="수정하기" style="width:100px;background-color:#28D308;color:white" onclick="detail_click('update')">
										<input type="button" value="삭제하기" style="width:100px;background-color:#F11A44;" onclick="detail_click('delete')">
										게시물 최종 수정일 <h7 th:text="${bbvo.updatedDatetime}"></h7> 
										<input type="button" value="추천하기" style="margin-left: 30px"><!-- 여기서부터 구현! -->
								</div>
								 <div th:if="${session.member.username != 'admin' and session.member.userid != bbvo.creatorId}">
									<input type="button" value="목록으로" style="width:100px;background-color:#0439CA;color:white" onclick="detail_click('main')">
									게시물 최종 수정일 <h7 th:text="${bbvo.updatedDatetime}"></h7>
									 <input type="button" value="추천하기" style="margin-left: 30px">
								</div> 
								</div>
						</td>
					</tr>
				</table>
			
	</div>
	
	<script th:inline="javascript">
	
	/*![CDATA[*/
		
		var bbNo =/*[[${bbvo.bbNo}]]*/
	
		function detail_click(s){
			if(s == 'delete'){
				if(confirm("정말로 삭제하시겠습니까?")){
					location.href= "deleteBulletin?bbNo="+bbNo;
					alert('삭제완료!')
				}
			}else if(s == 'update'){
				if(confirm("수정 페이지로 이동하시겠습니까?")){
					location.href= "updateBulletin?bbNo="+bbNo;
				}
				
			}else{
				alert('목록으로 이동합니다.')
				location.href="/ShoeKream/bulletinBoardPage";
			}
		
		
	}
		
	/*]]*/
	
	</script>
	
	
	
   <!-- footer 삽입 -->
     <!-- <footer th:replace="layout/footer::footer"> </footer>   -->
</body>
</html>