<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

	<head th:replace="layout/header::html-head"></head>

<body>
<div th:replace="layout/header::header-nav-user"></div>
<div th:replace="layout/header::header-nav-common"></div>


	<!-- 고객센터 nav -->
	<div th:replace="layout/boardnav::board-nav"></div>
	
	<!-- 전송이 완료된 메시지가 있다면 출력 -->
	<script th:inline="javascript">
    
    /*<![CDATA[*/
    var msg = /*[[${msg}]]*/  "default";
    if(msg != null){  	
    alert(msg);
    }
    /*]]>*/
    
</script>

	
	<!--  페이지에 따라 변경되는 section --> 

		<div class="container" style="float:left; width:85%;height:auto;padding-top: 60px;padding-left: 10px" >
			<h2 style="margin:20;">공지사항</h2>
			<hr style="height:3px;background-color: #333;"/>
			
			<table class="board_list" style="border-collapse: separate;border-spacing: 0 13px;">

				<colgroup>
						<col width="150px"/>
						<col width="550px"/>
						<col width="50px"/>
						<col width="150px"/>			
				</colgroup>
				<thead>
						<tr>
								<th scope="col" style="text-align: center">알림</th>
								<th scope="col" style="padding-left:50px">제목</th>
								<th scope="col"  style="text-align: center;">조회수</th>
								<th scope="col"  style="text-align: center;">작성자</th>
								<th scope="col" style="text-align: center;">작성일</th>
						</tr>	
						<!-- 불러올 목록이 없을때 처리 -->
						<!-- <tr>
								<td colspan="4">게시물이 존재하지 않습니다.</td>
						</tr> -->
						<!--  불러 올 게시물이 존재 할 때 처리 -->
						<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}" >
								<td th:text="${list.cbCategory}" style="text-align: center"></td>
								<td class="title"><!--  게시물 상세보기 클릭 -->
									<a href="/ShoeKream/noticeDetail?cbNo="
									th:attrappend="href=${list.cbNo}"
									th:text=${list.cbTitle}
									style="text-decoration: none;color: gray;margin-left:20px">
									</a>
								</td>
								<td th:text="${list.cbhitCnt}" style="text-align: center;"></td>
								<td th:text="${list.creatorId}"  style="text-align: center;"></td>
								<!-- TODO 오늘 날짜가 지난 게시물이라면 날짜만 표기, 당일 게시글은 시간까지 표기해보기 -->
								<td th:text="${#strings.replace(list.createdDatetime,'T',' ')}"></td> 
						</tr>
				</thead>	
			
					
			</table>
			
				
			<!-- 페이징 처리 -->
			<!-- 맨 앞, 이전 -->
			<div style="margin:20px 0;">
			<div style="float:left; width:300px;padding-left: 150px" >
					<ul style="text-decoration: none;text-align: center;">
					<li th:if="${pm.first == true}" style="list-style-type: none;float:left;margin-left:40px;margin-right: 30px; ">
						<a th:href="@{/ShoeKream/community(page=1)}" style="text-decoration: none;font-size: 15pt;color:black;">&lt;&lt;</a>
					</li>
					<li th:if="${pm.prev == true}" style="list-style-type: none;float:left;">
						<a th:href="@{/ShoeKream/community(page=${pm.startPage}-${pm.displayPageNum})}" style="text-decoration: none;font-size: 15pt;color:black;" >&lt;</a>
					</li>
				</ul>
			</div>
			
			<!-- 페이지 숫자-->
			<div th:each="num: ${#numbers.sequence({pm.startPage},{pm.endPage})}" style="float:left;">
				<ul>
					<li style="list-style-type: none;float:left" >
						<a id="pageNum" style="text-decoration:none;font-size: 15pt;font-weight: bold;color: #DAD6D6;"
							th:text="${num}"
							th:href="@{/ShoeKream/community(page=${num})}">
						</a>
					</li>
				</ul>
			</div>


			
			<!-- 다음, 맨 뒤 -->
			<div style="float:left; width:200px;text-align: left;" >
				<ul style="text-decoration: none">
					<li th:if="${pm.next == true}" style="list-style-type: none;float:left; margin-right: 30px">
						 <a th:href="@{/ShoeKream/community(page=${pm.startPage}+${pm.displayPageNum})}" style="text-decoration: none;font-size: 15pt;color:black;">&gt;</a>
					</li>
					<li th:if="${pm.last == true}" style="list-style-type: none;float:left;">
						<a th:href="@{/ShoeKream/community(page=${pm.maxPage})}" style="text-decoration: none;font-size: 15pt;color:black;">&gt;&gt;</a>
					</li>
				</ul>
			</div>
			</div>
			<!-- 관리자일때 만 보여지도록 처리 수정완료! 0309-->
			<div th:if="${session.member == null}">
			</div>
			<div th:unless="${session.member == null}" >
				<div th:switch="${session.member.username}" style="float:left;width:85%;margin:10px 0 0 0;">
							 <span th:case="admin"><a href ="createNoticePage" style="text-decoration: none; color:gray;" >공지사항 작성하기</a></span>
							 <span th:case="*"></span>
				</div>
			 </div>
		</div>

   <!-- footer 삽입 -->
    <!--  <footer th:replace="layout/footer::footer"> </footer>   -->
</body>
</html>